@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
@-webkit-keyframes show_content {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes show_content {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes show_video {
  from {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes show_video {
  from {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.green {
  color: #0bbb2e;
}

.show_content {
  -webkit-animation: show_content 2s;
          animation: show_content 2s;
}

.show_video {
  -webkit-animation: show_video 2s;
          animation: show_video 2s;
}

.backtotop a {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
}

.backtotop a img {
  height: 2.8rem;
  width: 2.8rem;
}

.backtotop .cd-top--is-visible {
  visibility: visible;
  opacity: .5;
}

.backtotop .cd-top--fade-out {
  opacity: 1;
}

header .navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
}

header .navbar .navbar-brand {
  font-size: 30px;
}

header .navbar .navbar-brand a {
  position: relative;
}

header .navbar .navbar-brand a:hover {
  text-decoration: none;
}

header .navbar .navbar-brand a::after {
  position: absolute;
  content: '\f06c';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 700;
  padding: 0 5px;
  top: -2px;
  right: -42px;
  color: #0bbb2e;
}

header .navbar .navbar-brand a div {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  color: white;
}

header .navbar .navbar-brand a span:nth-child(2) {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: white;
  display: block;
}

header .navbar .navbar-toggler i {
  color: black;
  font-size: 30px;
}

header .navbar .navbar-collapse {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header .navbar .navbar-collapse .navbar-nav li a {
  color: white !important;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

header .navbar .navbar-collapse .navbar-nav li a.active {
  color: #0bbb2e !important;
  font-weight: 500;
}

header .navbar .navbar-collapse .navbar-nav li a:hover {
  color: #0bbb2e !important;
}

header .navbar form {
  font-family: 'Newsreader', serif;
  font-weight: 400;
  font-size: 16px;
}

header .navbar form a {
  color: white !important;
}

@media only screen and (max-width: 991px) {
  header .navbar .navbar-toggler i {
    color: white;
  }
  header .navbar .navbar-collapse {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: #ffffffe0;
  }
  header .navbar .navbar-collapse .navbar-nav li a {
    color: black !important;
  }
  header .navbar .navbar-collapse .navbar-nav li a.active {
    color: #0bbb2e !important;
  }
  header .navbar .navbar-collapse .navbar-nav li a:hover {
    color: #0bbb2e !important;
  }
  header .navbar .navbar-collapse form a {
    color: black !important;
  }
}

#banner {
  position: relative;
  overflow: hidden;
  height: 700px;
  background: black;
}

#banner .header-banner {
  position: absolute;
  opacity: .5;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-animation: zoom infinite 30s 0s;
          animation: zoom infinite 30s 0s;
}

#banner .img-banner {
  background-image: url("../assets/images/banner-1.jpg");
}

#banner .header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

#banner .header-content h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  font-weight: 600;
}

#banner .header-content p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

#banner .header-content video {
  border: 3px solid #014324;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
}

#banner .header-content video:hover {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  #banner {
    height: 650px;
  }
}

@media only screen and (max-width: 575px) {
  #banner {
    height: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .text-md-start {
    text-align: start !important;
  }
}

#story {
  position: relative;
  overflow: hidden;
}

#story .story-title h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  #story .story-title h3 {
    font-size: 1.65rem;
  }
}

#story .story-content .timeline-section {
  min-height: 70vh;
}

#story .story-content .timeline-section .timeline-items {
  position: relative;
}

#story .story-content .timeline-section .timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}

#story .story-content .timeline-section .timeline-items .timeline-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

#story .story-content .timeline-section .timeline-items .timeline-item:last-child {
  margin-bottom: 0;
}

#story .story-content .timeline-section .timeline-items .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 20px);
  text-align: right;
}

#story .story-content .timeline-section .timeline-items .timeline-item:nth-child(even) {
  padding-left: calc(50% + 20px);
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-dot {
  height: 16px;
  width: 16px;
  background-color: white;
  position: absolute;
  left: calc(50% - 8px);
  top: 10px;
  border: 6px solid #0bbb2e;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-date {
  font-family: 'Newsreader', serif;
  font-weight: 500;
  font-size: 16px;
  padding: .4rem .6rem;
  letter-spacing: 1px;
  color: black;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content {
  border-color: #014324;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 1rem;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img .overlay h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img .overlay i {
  font-size: 15px;
  letter-spacing: .5px;
  color: white;
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img-1 {
  background-image: url("../assets/images/time-line-1.jpg");
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img-2 {
  background-image: url("../assets/images/time-line-2.jpg");
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img-3 {
  background-image: url("../assets/images/time-line-3.jpg");
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content .img-4 {
  background-image: url("../assets/images/time-line-4.jpg");
}

#story .story-content .timeline-section .timeline-items .timeline-item .timeline-content:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 #014324;
          box-shadow: 0 0 8px 0 #014324;
}

@media only screen and (max-width: 767px) {
  #story .story-content .timeline-section .timeline-items::before {
    left: 7px;
  }
  #story .story-content .timeline-section .timeline-items .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  #story .story-content .timeline-section .timeline-items .timeline-item:nth-child(odd), #story .story-content .timeline-section .timeline-items .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  #story .story-content .timeline-section .timeline-items .timeline-item .timeline-dot {
    left: 0;
  }
}

#business-areas {
  position: relative;
  overflow: hidden;
}

#business-areas .overlay {
  background: #014324;
}

#business-areas .overlay .business-areas-title h3 {
  color: white;
}

#business-areas .overlay .business-areas-title h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  #business-areas .overlay .business-areas-title h3 {
    font-size: 1.65rem;
  }
}

#business-areas .overlay .business-areas-content .card {
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#business-areas .overlay .business-areas-content .card .card-content .card-overlay {
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
}

#business-areas .overlay .business-areas-content .card .card-content .card-overlay .curtain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 89, 48, 0.2)), to(rgba(0, 255, 52, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 89, 48, 0.2), rgba(0, 255, 52, 0.8));
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

#business-areas .overlay .business-areas-content .card .card-content .card-overlay .curtain p {
  color: white;
  letter-spacing: 1px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#business-areas .overlay .business-areas-content .card .card-content .card-overlay .curtain:hover {
  cursor: pointer;
  opacity: 1;
}

#business-areas .overlay .business-areas-content .card .card-content .card-overlay .curtain:hover > p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#business-areas .overlay .business-areas-content .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#business-areas .overlay .business-areas-content .card-easy {
  height: 175px;
}

#business-areas .overlay .business-areas-content .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#business-areas .overlay .business-areas-content .img-1 {
  background-image: url("../assets/images/business-1.jpg");
}

#business-areas .overlay .business-areas-content .img-2 {
  background-image: url("../assets/images/business-2.jpg");
}

#business-areas .overlay .business-areas-content .img-3 {
  background-image: url("../assets/images/business-3.jpg");
}

#business-areas .overlay .business-areas-content .img-4 {
  background-image: url("../assets/images/business-4.jpg");
}

#business-areas .overlay .business-areas-content .img-5 {
  background-image: url("../assets/images/business-4.jpg");
}

#business-areas .overlay .business-areas-content .img-6 {
  background-image: url("../assets/images/business-3.jpg");
}

#business-areas .overlay .business-areas-content .img-7 {
  background-image: url("../assets/images/business-2.jpg");
}

#business-areas .overlay .business-areas-content .img-8 {
  background-image: url("../assets/images/business-1.jpg");
}

@media only screen and (max-width: 991px) {
  #business-areas .card-medium {
    height: 175px !important;
  }
}

@media only screen and (max-width: 767px) {
  #business-areas .card {
    height: 175px !important;
  }
}

@media only screen and (max-width: 575px) {
  #business-areas .card {
    height: 175px !important;
  }
}

#map .contact-title h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  #map .contact-title h3 {
    font-size: 1.65rem;
  }
}

#map form textarea {
  height: 100%;
}

@media only screen and (max-width: 991px) {
  #map form textarea {
    height: 225px;
  }
}

footer .overlay {
  background: #014324;
}

footer h5 {
  color: white;
  font-family: 'Newsreader', serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
}

footer .logo {
  position: relative;
  font-size: 30px;
}

footer .logo a {
  position: relative;
}

footer .logo a:hover {
  text-decoration: none;
}

footer .logo a::after {
  position: absolute;
  content: '\f06c';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 700;
  padding: 0 5px;
  top: -2px;
  right: -42px;
  color: #0bbb2e;
}

footer .logo a div {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  color: white;
}

footer .logo a span:nth-child(2) {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: white;
  display: block;
}

footer .week {
  list-style: none;
}

footer .week li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: .75rem;
  border-bottom: 1px dotted;
  text-decoration: none;
}

footer .social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social li a {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
}

footer .social li:nth-child(1) > a {
  border-radius: 50%;
  background: #4867aa;
}

footer .social li:nth-child(2) > a {
  border-radius: 50%;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer .social li:nth-child(3) > a {
  border-radius: 50%;
  background: #fc001c;
}
/*# sourceMappingURL=style.css.map */