$white-color: white;
$black-color: black;

$green-color: #014324;
$logo-color: #0bbb2e;

@keyframes show_content {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes show_video {
    from {
        transform: scale(1.06);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.green {
    color: $logo-color;
}
.show_content {
    animation: show_content 2s;
}
.show_video {
    animation: show_video 2s;
}