header {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 10;
        .navbar-brand {
            @include logo();
        }
        .navbar-toggler {
            i {
                color: $black-color;
                font-size: 30px;
            }
        }
        .navbar-collapse {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            .navbar-nav {
                li {
                    a {
                        color: $white-color !important;
                        transition: all .2s ease;
                        &.active {
                            color: $logo-color !important;
                            font-weight: 500;
                        }
                        &:hover {
                            color: $logo-color !important;
                        }
                    }
                }
            }
        }
        form {
            font-family: 'Zilla Slab', serif;
            font-weight: 600;
            font-size: 16px;
            a {
                color: $white-color !important;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    header {
        .navbar {
            .navbar-toggler {
                i {
                    color: $white-color;
                }
            }
            .navbar-collapse {
                position: absolute;
                top: 105px;
                left: 0;
                width: 100%;
                padding: 1rem;
                background: #ffffffe0;
                .navbar-nav {
                    li {
                        a {
                            color: $black-color !important;
                            &.active {
                                color: $green-color !important;
                            }
                            &:hover {
                                color: $green-color !important;
                            }
                        }
                    }
                }
                form {
                    a {
                        color: $black-color !important;
                    }
                }
            }
        }
    }
}